

<style>

body {
	margin top: 100px;
	background: grey;
	text-align: center;
}
#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}


#header {
	margin top: 100px;
	background: grey;
	text-align: center;
	height: 75px;
}

#nav {
	background: red;
	text-align: center;
	height: 75px;

}


#aside {
	background: green;
	float: right;
	width: 49%;
	height: 200px;
	text-align: center;
	margin left: 20px;
}

#section {
	background: blue;
	float: left;
	width: 49%;
	height: 200px;
	text-align: center;
}

#article {
	text-align: center;
	position: relative;
	top:-200px;
	left:40px;
	background: pink;
	float: left;
	width: 40%;
	height: 150px;
	z-index: 1;
}

#write {
	text-align: center;
	position: relative;
	top:-170px;
	left:-344px;
	background: red;
	float: left;
	width: 40%;
	height: 30px;
	z-index: 2;
}

#p {
	text-align: center;
	position: relative;
	top:-200px;
	left:-344px;
	background: red;
	float: left;
	width: 40%;
	height: 30px;
	z-index: 2;
}

}

#footer {
	position: relative;
	width: 100%;
	right:0;
	bottom:15%;
	left:0;
	background: orange;
	text-align: center;
	height: 75px;
}
</style>

